<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/img/cloud.png">
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <div class="main">
        {{>header}}
        <p class="aboutp">This was created by Ok</p>
        <img class="aboutimg" src="./img/logo.png">
    </div>
    {{>footer}}
</body>
</html>